<form action="/auglis" method="post" enctype="multipart/form-data">
  <input type="file" name="image_1" accept="image/*">
  <input type="file" name="image_2" accept="image/*">
  <button type="submit">Upload</button>
</form>
